body {
   background-color: #f6f6f6!important
}

.container {
   width: 960px;
}


.container>.nav {
   margin-top: 0px !important;
   margin-bottom: 10px !important;

}

.navbar-brand {
   font-size: 20px;
   color: rgb(46, 43, 145) !important
}

.container>.row {
   background: #fff;
   margin-top: 20px;
   margin-bottom: 20px;
   padding-bottom: 20px;
   padding-top: 20px;
}

img {
   width: 100%
}

.title {
   color: rgb(13, 98, 242);
   font-size: 42px;
}

.bold {
   font-weight: bold;
}

.price .price-sale {
   font-weight: bold;
   color: red;
   font-size: 40px;
}

.price small {
   color: red;
}

.price .price-nosale {
   margin-left: 40px;
   font-weight: bold;
   color: #465151;
   font-size: 35px;
   text-decoration-line: line-through
}

.list-group {
   margin-top: 15px
}

.list-group p {
   margin-bottom: 7px !important
}

.title-h2 {
   text-align: center;
}

.center-text {
   text-align: center
}

.sec2 .number {
   color: rgb(35, 187, 217);
   font-weight: bold;
   font-size: 50px;
   margin-bottom: 0px !important
}

.uu-diem h3,
.thong-so h3 {
   font-size: 20px;

}

.sec2 .row,
.hinh-anh .row,
.thong-so .row {
   margin-right: 15px;
   margin-left: 15px;
}

.hinh-anh .row {
   margin-top: 10px;
   margin-bottom: 10px
}

.thong-so h3 {
   text-align: center
}

.icon_ {
   text-align: center
}

.icon_ img {
   width: 75px
}



.img-thongso {
   margin-top: 25px;
}

iframe {
   width: 100%
}

.vd {
   margin-top: 10px;
   margin-bottom: 10px
}

.footer {
   background: #ffff;
   width: 100%;
   overflow-x: hidden;
}

.freebirdFormviewerViewNoPadding {
   display: none !important
}

.footer>.row {
   background: #fff;
   margin-top: 10px;
   margin-bottom: 10px
}