@media (min-width: 768px)
{
   .container {
      width: 960px;
  }
   .thong-so .row>div {
      padding: 0 90px;
  }
}
@media screen and (max-width: 1024px)
{
   /* .thong-so .row>div {
      padding: 0 90px;
  } */
}